
        
  
<mat-toolbar>
 <mat-icon  aria-hidden="false" aria-label="Example equalizer icon" fontIcon="equalizer"></mat-icon>
 <span>kanban</span>
</mat-toolbar>

<p class="list-title">ALL BOARDS (8)</p>

<ul class="list-section">
   <li class="list-element">
    <span class="material-icons">list_alt</span>
    <p>Platform Launch</p>
  </li>
   <li class="list-element active" >
    <span class="material-icons">list_alt</span>
    <p>Marketing Plan</p>
  </li>
   <li class="list-element">
    <span class="material-icons">list_alt</span>
    <p>Roadmap</p>
  </li>
</ul>

<div class="new-board">
  <span class="material-icons">list_alt</span>
  <p>+ Create New Board</p>
</div>

    
        
      