
    <mat-toolbar>
      <span>Platform Launch</span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="primary">+Add New Task</button>  
    </mat-toolbar>

  <div class="board">

    <div class="columns">
      <div class="column-title">
        <span class="material-icons" id="todo-icon">fiber_manual_record</span>
      <h3>TODO</h3>
      </div>
      <div class="column-content">
        <mat-card>
          <mat-card-header class="card-title">Build UI for onboarding flow</mat-card-header>
          <mat-card-content>0 of 3 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Build UI for search</mat-card-header>
          <mat-card-content>0 of 3 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Build settings UI</mat-card-header>
          <mat-card-content>0 of 2 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">QA and test all major user <br>
           journeys  </mat-card-header>
          <mat-card-content>0 of 3 subtasks</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="columns">
      <div class="column-title">
        <span class="material-icons" id="doing-icon">fiber_manual_record</span>
      <h3>DOING</h3>
      </div>
      <div class="column-content">
        <mat-card>
          <mat-card-header class="card-title">Design settings and search pages</mat-card-header>
          <mat-card-content>1 of 3 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Add account management <br>
          endpoints</mat-card-header>
          <mat-card-content>2 of 3 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Design onboarding flow</mat-card-header>
          <mat-card-content>1 of 3subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Add search enpoints </mat-card-header>
          <mat-card-content>1 of 2 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Add authentication endpoints</mat-card-header>
          <mat-card-content>1 of 2 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">
            Research pricing points of various <br>
            competitors and trial different <br>
            business models
          </mat-card-header>
          <mat-card-content>1 of 3 subtasks</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="columns">
      <div class="column-title">
        <span class="material-icons" id="done-icon">fiber_manual_record</span>
      <h3>DONE</h3>
      </div>
      <div class="column-content">
        <mat-card>
          <mat-card-header class="card-title">Conduct 5 wireframe tests</mat-card-header>
          <mat-card-content>1 of 1 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Create wireframe prototype</mat-card-header>
          <mat-card-content>1 of 1 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">
            Review results of usability tests <br>
            and iterate
        </mat-card-header>
          <mat-card-content>3 of 3 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">
           Create paper prototypes and <br>
           conduct 10 usability tests with <br>
           potential customers  
          </mat-card-header>
          <mat-card-content>2 of 2 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Market discovery</mat-card-header>
          <mat-card-content>1 of 1 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Competitor analysis</mat-card-header>
          <mat-card-content>2 of 2 subtasks</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="card-title">Research the market</mat-card-header>
          <mat-card-content>2 of 2 subtasks</mat-card-content>
        </mat-card>
      </div>
    </div>
    
    
    
    
    
    
    <div class="columns">
      <h1>+ New column</h1>
    </div>
  </div>
